<header>  
  <div class="row">
    <div class="col-md-4">
      <img src="<%= asset_path 'bioestadistica.png' %>">
    </div>
    <div class="col-md-4">
      <img src="<%= asset_path 'logo_min_salud.png' %>">
    </div>
    <div class="col-md-4">
      <img src="<%= asset_path 'gss2.png' %>">
    </div>
  </div>
</header>
<% total_encuestas = Encuestum.count(:id) %>
<div class="container">
  <h2 class="text-center">Cuadro de control del estudio de servicios de las EPS por parte de los usuarios, en el régimen contributivo y subsidiado.</h2>
    <div class="alert alert-danger" role="alert">
    Los datos que se muestran, corresponden a la última actualización de la base de datos, puede que existan datos pendientes de actualizar.
    </div>
  <br>
  <div class="col-lg-12">
    <label><strong>1. Control por Departamentos </strong></label>
    <table class="table">
      <thead>
        <tr>  
          <th scope="col">Departamento</th>
          <th scope="col">No. Encuestas a la fecha</th>
          <th scope="col">No. Encuestas a realizar</th>
          <th scope="col">% de Cumplimiento</th>
        </tr>
      </thead>
      <tbody>  
        <% total = Encuestum.where(departamento: "Amazonas").count(:id) %>
        <tr>
          <td scope="row"> Amazonas </td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Antioquia").count(:id) %>
        <tr>
          <td scope="row"> Antioquia </td>
          <td><%= total %></td>
          <td>1162</td>
          <td><%= (100* total/1162.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Arauca").count(:id) %>
        <tr>
          <td scope="row"> Arauca </td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Archipiélago de San Andrés").count(:id) %>
        <tr>
          <td scope="row"> Archipiélago de San Andrés </td>
          <td><%= total %></td>
          <td>427</td>
          <td><%= (100* total/427.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Atlántico").count(:id) %>
        <tr>
          <td scope="row"> Atlántico </td>
          <td><%= total %></td>
          <td>552</td>
          <td><%= (100* total/552.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Bogotá").count(:id) %>
        <tr>
          <td scope="row"> Bogotá, D.C. </td>
          <td><%= total %></td>
          <td>2061</td>
          <td><%= (100* total/2061.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Bolívar").count(:id) %>
        <tr>
          <td scope="row"> Bolívar. </td>
          <td><%= total %></td>
          <td>943</td>
          <td><%= (100* total/943.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Boyacá").count(:id) %>
        <tr>
          <td scope="row"> Boyacá </td>
          <td><%= total %></td>
          <td>607</td>
          <td><%= (100* total/607.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Caldas").count(:id) %>
        <tr>
          <td scope="row"> Caldas </td>
          <td><%= total %></td>
          <td>433</td>
          <td><%= (100* total/433.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Caquetá").count(:id) %>
        <tr>
          <td scope="row"> Caquetá </td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Casanare").count(:id) %>
        <tr>
          <td scope="row"> Casanare </td>
          <td><%= total %></td>
          <td>493</td>
          <td><%= (100* total/493.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Cauca").count(:id) %>
        <tr>
          <td scope="row"> Cauca </td>
          <td><%= total %></td>
          <td>478</td>
          <td><%= (100* total/478.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Cesar").count(:id) %>
        <tr>
          <td scope="row"> Cesar </td>
          <td><%= total %></td>
          <td>524</td>
          <td><%= (100* total/524.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Chocó").count(:id) %>
        <tr>
          <td scope="row"> Chocó </td>
          <td><%= total %></td>
          <td>656</td>
          <td><%= (100* total/656.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Córdoba").count(:id) %>
        <tr>
          <td scope="row"> Córdoba </td>
          <td><%= total %></td>
          <td>456</td>
          <td><%= (100* total/456.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Cundinamarca").count(:id) %>
        <tr>
          <td scope="row"> Cundinamarca </td>
          <td><%= total %></td>
          <td>1257</td>
          <td><%= (100* total/1257.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Guainía").count(:id) %>
        <tr>
          <td scope="row"> Guainía </td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Guaviare").count(:id) %>
        <tr>
          <td scope="row"> Guaviare </td>
          <td><%= total %></td>
          <td>429</td>
          <td><%= (100* total/429.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Huila").count(:id) %>
        <tr>
          <td scope="row"> Huila </td>
          <td><%= total %></td>
          <td>525</td>
          <td><%= (100* total/525.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "La Guajira").count(:id) %>
        <tr>
          <td scope="row"> La Guajira </td>
          <td><%= total %></td>
          <td>1246</td>
          <td><%= (100* total/1246.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Magdalena").count(:id) %>
        <tr>
          <td scope="row">Magdalena</td>
          <td><%= total %></td>
          <td>505</td>
          <td><%= (100* total/505.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Meta").count(:id) %>
        <tr>
          <td scope="row">Meta</td>
          <td><%= total %></td>
          <td>542</td>
          <td><%= (100* total/542.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Nariño").count(:id) %>
        <tr>
          <td scope="row">Nariño</td>
          <td><%= total %></td>
          <td>791</td>
          <td><%= (100* total/791.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Norte de Santander").count(:id) %>
        <tr>
          <td scope="row">Norte de Santander</td>
          <td><%= total %></td>
          <td>951</td>
          <td><%= (100* total/951.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Putumayo").count(:id) %>
        <tr>
          <td scope="row">Putumayo</td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Quindio").count(:id) %>
        <tr>
          <td scope="row">Quindio</td>
          <td><%= total %></td>
          <td>432</td>
          <td><%= (100* total/432.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Risaralda").count(:id) %>
        <tr>
          <td scope="row">Risaralda</td>
          <td><%= total %></td>
          <td>433</td>
          <td><%= (100* total/433.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Santander").count(:id) %>
        <tr>
          <td scope="row">Santander</td>
          <td><%= total %></td>
          <td>433</td>
          <td><%= (100* total/433.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Sucre").count(:id) %>
        <tr>
          <td scope="row">Sucre</td>
          <td><%= total %></td>
          <td>775</td>
          <td><%= (100* total/775.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Tolima").count(:id) %>
        <tr>
          <td scope="row">Tolima</td>
          <td><%= total %></td>
          <td>561</td>
          <td><%= (100* total/561.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Valle del Cauca").count(:id) %>
        <tr>
          <td scope="row">Valle del Cauca</td>
          <td><%= total %></td>
          <td>1279</td>
          <td><%= (100* total/1279.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Vaupés").count(:id) %>
        <tr>
          <td scope="row">Vaupés</td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(departamento: "Vichada").count(:id) %>
        <tr>
          <td scope="row">Vichada</td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"> <strong> Total </strong></td>
            <th scope="col"> <strong> <%= Encuestum.count(:id) %> </strong></td>
            <th scope="col"> <strong> 21.753 </strong></td>
            <th scope="col"> <strong><%= (100* Encuestum.count(:id)/21753.to_f).round(2) %></strong></td>
          </tr>
        </thead>
      </tbody>  
    </table>
  </div>
  <div class="col-lg-12">
    <label><strong>2. Control por Municipios </strong></label>
    <table class="table">
      <thead>
        <tr>  
          <th scope="col">Municipio</th>
          <th scope="col">No. Encuestas a la fecha</th>
          <th scope="col">No. Encuestas a realizar</th>
          <th scope="col">% de Cumplimiento</th>
        </tr>
      </thead>
      <tbody>  
        <% total = Encuestum.where(municipio: "Acacías").count(:id) %>
        <tr>
          <td scope="row"> Acacías </td>
          <td><%= total %></td>
          <td>60</td>
          <td><%= (100* total/60.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Aipe").count(:id) %>
        <tr>
          <td scope="row"> Aipe </td>
          <td><%= total %></td>
          <td>125</td>
          <td><%= (100* total/125.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Aracataca").count(:id) %>
        <tr>
          <td scope="row"> Aracataca </td>
          <td><%= total %></td>
          <td>105</td>
          <td><%= (100* total/105.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Aranzazu").count(:id) %>
        <tr>
          <td scope="row"> Aranzazu </td>
          <td><%= total %></td>
          <td>53</td>
          <td><%= (100* total/53.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Aratoca").count(:id) %>
        <tr>
          <td scope="row"> Aratoca </td>
          <td><%= total %></td>
          <td>40</td>
          <td><%= (100* total/40.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Arauca").count(:id) %>
        <tr>
          <td scope="row"> Arauca </td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Armenia").count(:id) %>
        <tr>
          <td scope="row"> Armenia </td>
          <td><%= total %></td>
          <td>350</td>
          <td><%= (100* total/350.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Barbosa").count(:id) %>
        <tr>
          <td scope="row"> Barbosa </td>
          <td><%= total %></td>
          <td>90</td>
          <td><%= (100* total/90.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Barranquilla").count(:id) %>
        <tr>
          <td scope="row"> Barranquilla </td>
          <td><%= total %></td>
          <td>400</td>
          <td><%= (100* total/400.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Bogotá").count(:id) %>
        <tr>
          <td scope="row"> Bogotá, D.C. </td>
          <td><%= total %></td>
          <td>2061</td>
          <td><%= (100* total/2061.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Bosconia").count(:id) %>
        <tr>
          <td scope="row"> Bosconia </td>
          <td><%= total %></td>
          <td>124</td>
          <td><%= (100* total/124.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Bucaramanga").count(:id) %>
        <tr>
          <td scope="row"> Bucaramanga </td>
          <td><%= total %></td>
          <td>203</td>
          <td><%= (100* total/203.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Caldas").count(:id) %>
        <tr>
          <td scope="row"> Caldas </td>
          <td><%= total %></td>
          <td>90</td>
          <td><%= (100* total/90.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Cali").count(:id) %>
        <tr>
          <td scope="row"> Cali </td>
          <td><%= total %></td>
          <td>600</td>
          <td><%= (100* total/600.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Calima").count(:id) %>
        <tr>
          <td scope="row"> Calima </td>
          <td><%= total %></td>
          <td>60</td>
          <td><%= (100* total/60.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Candelaria").count(:id) %>
        <tr>
          <td scope="row"> Candelaria </td>
          <td><%= total %></td>
          <td>100</td>
          <td><%= (100* total/100.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Cartagena").count(:id) %>
        <tr>
          <td scope="row"> Cartagena </td>
          <td><%= total %></td>
          <td>700</td>
          <td><%= (100* total/700.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Cepitá").count(:id) %>
        <tr>
          <td scope="row"> Cepitá </td>
          <td><%= total %></td>
          <td>40</td>
          <td><%= (100* total/40.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Chinchiná").count(:id) %>
        <tr>
          <td scope="row"> Chinchiná </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Chiquinquirá").count(:id) %>
        <tr>
          <td scope="row"> Chiquinquirá </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Clemencia").count(:id) %>
        <tr>
          <td scope="row"> Clemencia </td>
          <td><%= total %></td>
          <td>100</td>
          <td><%= (100* total/100.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Coello").count(:id) %>
        <tr>
          <td scope="row"> Coello </td>
          <td><%= total %></td>
          <td>50</td>
          <td><%= (100* total/50.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Corozal").count(:id) %>
        <tr>
          <td scope="row"> Corozal </td>
          <td><%= total %></td>
          <td>175</td>
          <td><%= (100* total/175.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Cúcuta").count(:id) %>
        <tr>
          <td scope="row"> Cúcuta </td>
          <td><%= total %></td>
          <td>550</td>
          <td><%= (100* total/550.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "El Paujil").count(:id) %>
        <tr>
          <td scope="row"> El Paujil </td>
          <td><%= total %></td>
          <td>100</td>
          <td><%= (100* total/100.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Entrerrios").count(:id) %>
        <tr>
          <td scope="row"> Entrerrios </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Espinal").count(:id) %>
        <tr>
          <td scope="row"> Espinal </td>
          <td><%= total %></td>
          <td>86</td>
          <td><%= (100* total/86.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Filandia").count(:id) %>
        <tr>
          <td scope="row"> Filandia </td>
          <td><%= total %></td>
          <td>82</td>
          <td><%= (100* total/82.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Florencia").count(:id) %>
        <tr>
          <td scope="row"> Florencia </td>
          <td><%= total %></td>
          <td>330</td>
          <td><%= (100* total/330.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Giraldo").count(:id) %>
        <tr>
          <td scope="row"> Giraldo </td>
          <td><%= total %></td>
          <td>70</td>
          <td><%= (100* total/70.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Girón").count(:id) %>
        <tr>
          <td scope="row"> Girón </td>
          <td><%= total %></td>
          <td>60</td>
          <td><%= (100* total/60.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Guamal").count(:id) %>
        <tr>
          <td scope="row"> Guamal </td>
          <td><%= total %></td>
          <td>32</td>
          <td><%= (100* total/32.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Guateque").count(:id) %>
        <tr>
          <td scope="row"> Guateque </td>
          <td><%= total %></td>
          <td>30</td>
          <td><%= (100* total/30.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Hatonuevo").count(:id) %>
        <tr>
          <td scope="row"> Hatonuevo </td>
          <td><%= total %></td>
          <td>146</td>
          <td><%= (100* total/146.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Honda").count(:id) %>
        <tr>
          <td scope="row"> Honda </td>
          <td><%= total %></td>
          <td>75</td>
          <td><%= (100* total/75.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Ibagué").count(:id) %>
        <tr>
          <td scope="row"> Ibagué </td>
          <td><%= total %></td>
          <td>350</td>
          <td><%= (100* total/350.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Inírida").count(:id) %>
        <tr>
          <td scope="row"> Inírida </td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Ipiales").count(:id) %>
        <tr>
          <td scope="row"> Ipiales </td>
          <td><%= total %></td>
          <td>151</td>
          <td><%= (100* total/151.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Istmina").count(:id) %>
        <tr>
          <td scope="row"> Istmina </td>
          <td><%= total %></td>
          <td>106</td>
          <td><%= (100* total/106.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Jenesano").count(:id) %>
        <tr>
          <td scope="row"> Jenesano </td>
          <td><%= total %></td>
          <td>40</td>
          <td><%= (100* total/40.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "La Ceja").count(:id) %>
        <tr>
          <td scope="row"> La Ceja </td>
          <td><%= total %></td>
          <td>90</td>
          <td><%= (100* total/90.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "La Florida").count(:id) %>
        <tr>
          <td scope="row"> La Florida </td>
          <td><%= total %></td>
          <td>70</td>
          <td><%= (100* total/70.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "La Unión").count(:id) %>
        <tr>
          <td scope="row"> La Unión </td>
          <td><%= total %></td>
          <td>69</td>
          <td><%= (100* total/69.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Leticia").count(:id) %>
        <tr>
          <td scope="row"> Leticia </td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Madrid").count(:id) %>
        <tr>
          <td scope="row"> Madrid </td>
          <td><%= total %></td>
          <td>150</td>
          <td><%= (100* total/150.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Maicao").count(:id) %>
        <tr>
          <td scope="row"> Maicao </td>
          <td><%= total %></td>
          <td>200</td>
          <td><%= (100* total/200.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Maní").count(:id) %>
        <tr>
          <td scope="row"> Maní </td>
          <td><%= total %></td>
          <td>143</td>
          <td><%= (100* total/143.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Manizales").count(:id) %>
        <tr>
          <td scope="row"> Manizales </td>
          <td><%= total %></td>
          <td>300</td>
          <td><%= (100* total/300.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Medellín").count(:id) %>
        <tr>
          <td scope="row"> Medellín </td>
          <td><%= total %></td>
          <td>502</td>
          <td><%= (100* total/502.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Mitú").count(:id) %>
        <tr>
          <td scope="row"> Mitú </td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Mocoa").count(:id) %>
        <tr>
          <td scope="row"> Mocoa </td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Momil").count(:id) %>
        <tr>
          <td scope="row"> Momil </td>
          <td><%= total %></td>
          <td>40</td>
          <td><%= (100* total/40.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Montelíbano").count(:id) %>
        <tr>
          <td scope="row"> Montelíbano </td>
          <td><%= total %></td>
          <td>66</td>
          <td><%= (100* total/66.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Montería").count(:id) %>
        <tr>
          <td scope="row"> Montería </td>
          <td><%= total %></td>
          <td>350</td>
          <td><%= (100* total/350.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Neiva").count(:id) %>
        <tr>
          <td scope="row"> Neiva </td>
          <td><%= total %></td>
          <td>400</td>
          <td><%= (100* total/400.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Nobsa").count(:id) %>
        <tr>
          <td scope="row"> Nobsa </td>
          <td><%= total %></td>
          <td>60</td>
          <td><%= (100* total/60.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Ocaña").count(:id) %>
        <tr>
          <td scope="row"> Ocaña </td>
          <td><%= total %></td>
          <td>150</td>
          <td><%= (100* total/150.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Pacho").count(:id) %>
        <tr>
          <td scope="row"> Pacho </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Palmira").count(:id) %>
        <tr>
          <td scope="row"> Palmira </td>
          <td><%= total %></td>
          <td>225</td>
          <td><%= (100* total/225.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Pamplonita").count(:id) %>
        <tr>
          <td scope="row"> Pamplonita </td>
          <td><%= total %></td>
          <td>51</td>
          <td><%= (100* total/51.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Pasto").count(:id) %>
        <tr>
          <td scope="row"> Pasto </td>
          <td><%= total %></td>
          <td>500</td>
          <td><%= (100* total/500.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Patía").count(:id) %>
        <tr>
          <td scope="row"> Patía </td>
          <td><%= total %></td>
          <td>50</td>
          <td><%= (100* total/50.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Pereira").count(:id) %>
        <tr>
          <td scope="row"> Pereira </td>
          <td><%= total %></td>
          <td>350</td>
          <td><%= (100* total/350.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Popayán").count(:id) %>
        <tr>
          <td scope="row"> Popayán </td>
          <td><%= total %></td>
          <td>328</td>
          <td><%= (100* total/328.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Puerto Carreño").count(:id) %>
        <tr>
          <td scope="row"> Puerto Carreño </td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Puerto Colombia").count(:id) %>
        <tr>
          <td scope="row"> Puerto Colombia </td>
          <td><%= total %></td>
          <td>75</td>
          <td><%= (100* total/75.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Puerto López").count(:id) %>
        <tr>
          <td scope="row"> Puerto López </td>
          <td><%= total %></td>
          <td>50</td>
          <td><%= (100* total/50.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Puerto Tejada").count(:id) %>
        <tr>
          <td scope="row"> Puerto Tejada </td>
          <td><%= total %></td>
          <td>100</td>
          <td><%= (100* total/100.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Quibdó").count(:id) %>
        <tr>
          <td scope="row"> Quibdó </td>
          <td><%= total %></td>
          <td>550</td>
          <td><%= (100* total/550.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Ricaurte").count(:id) %>
        <tr>
          <td scope="row"> Ricaurte </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Riohacha").count(:id) %>
        <tr>
          <td scope="row"> Riohacha </td>
          <td><%= total %></td>
          <td>700</td>
          <td><%= (100* total/700.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Rionegro").count(:id) %>
        <tr>
          <td scope="row"> Rionegro </td>
          <td><%= total %></td>
          <td>40</td>
          <td><%= (100* total/40.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Sabanagrande").count(:id) %>
        <tr>
          <td scope="row"> Sabanagrande </td>
          <td><%= total %></td>
          <td>77</td>
          <td><%= (100* total/77.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Salgar").count(:id) %>
        <tr>
          <td scope="row"> Salgar </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "San Andrés").count(:id) %>
        <tr>
          <td scope="row"> San Andrés </td>
          <td><%= total %></td>
          <td>427</td>
          <td><%= (100* total/427.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "San Gil").count(:id) %>
        <tr>
          <td scope="row"> San Gil </td>
          <td><%= total %></td>
          <td>50</td>
          <td><%= (100* total/50.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "San Jacinto").count(:id) %>
        <tr>
          <td scope="row"> San Jacinto </td>
          <td><%= total %></td>
          <td>143</td>
          <td><%= (100* total/143.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "San José del Guaviare").count(:id) %>
        <tr>
          <td scope="row"> San José del Guaviare </td>
          <td><%= total %></td>
          <td>429</td>
          <td><%= (100* total/429.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "San Pedro").count(:id) %>
        <tr>
          <td scope="row"> San Pedro </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Santa Marta").count(:id) %>
        <tr>
          <td scope="row"> Santa Marta </td>
          <td><%= total %></td>
          <td>400</td>
          <td><%= (100* total/400.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Santuario").count(:id) %>
        <tr>
          <td scope="row"> Santuario </td>
          <td><%= total %></td>
          <td>83</td>
          <td><%= (100* total/83.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Sincelejo").count(:id) %>
        <tr>
          <td scope="row"> Sincelejo </td>
          <td><%= total %></td>
          <td>600</td>
          <td><%= (100* total/600.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Soacha").count(:id) %>
        <tr>
          <td scope="row"> Soacha </td>
          <td><%= total %></td>
          <td>600</td>
          <td><%= (100* total/600.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Sotaquirá").count(:id) %>
        <tr>
          <td scope="row"> Sotaquirá </td>
          <td><%= total %></td>
          <td>40</td>
          <td><%= (100* total/40.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Sutatausa").count(:id) %>
        <tr>
          <td scope="row"> Sutatausa </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Tibaná").count(:id) %>
        <tr>
          <td scope="row"> Tibaná </td>
          <td><%= total %></td>
          <td>40</td>
          <td><%= (100* total/40.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Titiribí").count(:id) %>
        <tr>
          <td scope="row"> Titiribí </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Tuluá").count(:id) %>
        <tr>
          <td scope="row"> Tuluá </td>
          <td><%= total %></td>
          <td>225</td>
          <td><%= (100* total/225.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Tunja").count(:id) %>
        <tr>
          <td scope="row"> Tunja </td>
          <td><%= total %></td>
          <td>257</td>
          <td><%= (100* total/257.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Túquerres").count(:id) %>
        <tr>
          <td scope="row"> Túquerres </td>
          <td><%= total %></td>
          <td>70</td>
          <td><%= (100* total/70.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Ubaque").count(:id) %>
        <tr>
          <td scope="row"> Ubaque </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Uribia").count(:id) %>
        <tr>
          <td scope="row"> Uribia </td>
          <td><%= total %></td>
          <td>200</td>
          <td><%= (100* total/200.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Valledupar").count(:id) %>
        <tr>
          <td scope="row"> Valledupar </td>
          <td><%= total %></td>
          <td>400</td>
          <td><%= (100* total/400.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Villa de Leyva").count(:id) %>
        <tr>
          <td scope="row"> Villa de Leyva </td>
          <td><%= total %></td>
          <td>60</td>
          <td><%= (100* total/60.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Villa de San Diego de Ubate").count(:id) %>
        <tr>
          <td scope="row"> Villa de San Diego de Ubate </td>
          <td><%= total %></td>
          <td>107</td>
          <td><%= (100* total/107.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Villavicencio").count(:id) %>
        <tr>
          <td scope="row"> Villavicencio </td>
          <td><%= total %></td>
          <td>400</td>
          <td><%= (100* total/400.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Villeta").count(:id) %>
        <tr>
          <td scope="row"> Villeta </td>
          <td><%= total %></td>
          <td>80</td>
          <td><%= (100* total/80.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "Yopal").count(:id) %>
        <tr>
          <td scope="row"> Yopal </td>
          <td><%= total %></td>
          <td>350</td>
          <td><%= (100* total/350.to_f).round(2) %></td>
        </tr>
        <thead>
          <tr>
            <th scope="col"> <strong> Total </strong></td>
            <th scope="col"> <strong> <%= Encuestum.count(:id) %> </strong></td>
            <th scope="col"> <strong> 21.753 </strong></td>
            <th scope="col"> <strong><%= (100* Encuestum.count(:id)/21753.to_f).round(2) %></strong></td>
          </tr>
        </thead>
      </tbody>  
    </table>
  </div>
  <div class="col-lg-10">
    <label><strong>3. Control por EPS </strong></label>
    <table class="table">
      <thead>
        <tr>  
          <th scope="col">EPS</th>
          <th scope="col">No. Encuestas a la fecha - Contributivo</th>
          <th scope="col">No. Encuestas a realizar - Contributivo</th>
          <th scope="col">% de Cumplimiento - Contributivo</th>
          <th scope="col">No. Encuestas a la fecha - Subsiadiado</th>
          <th scope="col">No. Encuestas a realizar - Subsiadiado</th>
          <th scope="col">% de Cumplimiento - Subsidiado</th>
          <th scope="col">No. Encuestas a la fecha</th>
          <th scope="col">No. Encuestas a realizar</th>
          <th scope="col">% de Cumplimiento</th>
        </tr>
      </thead>
      <tbody>  
        <% total = Encuestum.where(municipio: "ALIANSALUD ENTIDAD PROMOTORA DE SALUD S.A.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ALIANSALUD ENTIDAD PROMOTORA DE SALUD S.A.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ALIANSALUD ENTIDAD PROMOTORA DE SALUD S.A.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td scope="row"> ALIANSALUD ENTIDAD PROMOTORA DE SALUD S.A. </td>
          <td><%= total_contribitivo %></td>
          <td>426</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td>0 %></td>
          <td><%= total %></td>
          <td>426</td>
          <td><%= (100* total/426.to_f).round(2) %></td>
        </tr>
      <% total = Encuestum.where(municipio: "ANASWAYUU").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ANASWAYUU").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ANASWAYUU").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td scope="row"> ANASWAYUU </td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>426</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>426</td>
          <td><%= (100* total/426.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "ASOCIACIÓN INDÍGENA DEL CAUCA").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ASOCIACIÓN INDÍGENA DEL CAUCA").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ASOCIACIÓN INDÍGENA DEL CAUCA").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td scope="row"> ASOCIACIÓN INDÍGENA DEL CAUCA </td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>471</td>
          <td><%= (100* total_subsidiado/471.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>471</td>
          <td><%= (100* total/471.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "ASOCIACIÓN INDÍGENA DEL CESAR Y LA GUAJIRA  DUSAKAWI").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ASOCIACIÓN INDÍGENA DEL CESAR Y LA GUAJIRA  DUSAKAWI").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ASOCIACIÓN INDÍGENA DEL CESAR Y LA GUAJIRA  DUSAKAWI").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td scope="row"> ASOCIACIÓN INDÍGENA DEL CESAR Y LA GUAJIRA  DUSAKAWI </td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>428</td>
          <td><%= (100* total_subsidiado/428.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "ASOCIACIÓN MUTUAL BARRIOS UNIDOS DE QUIBDÓ E.S.S.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL BARRIOS UNIDOS DE QUIBDÓ E.S.S.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL BARRIOS UNIDOS DE QUIBDÓ E.S.S.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td scope="row"> ASOCIACIÓN MUTUAL BARRIOS UNIDOS DE QUIBDÓ E.S.S. </td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>432</td>
          <td><%= (100* total_subsidiado/432.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>432</td>
          <td><%= (100* total/432.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL EMPRESA SOLIDARIA DE SALUD DE NARIÑO E.S.S. EMSSANAR E.S.S.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL EMPRESA SOLIDARIA DE SALUD DE NARIÑO E.S.S. EMSSANAR E.S.S.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL EMPRESA SOLIDARIA DE SALUD DE NARIÑO E.S.S. EMSSANAR E.S.S.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td scope="row"> ASOCIACIÓN MUTUAL EMPRESA SOLIDARIA DE SALUD DE NARIÑO E.S.S. EMSSANAR E.S.S. </td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>566</td>
          <td><%= (100* total_subsidiado/566.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>566</td>
          <td><%= (100* total/566.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "ASOCIACIÓN MUTUAL LA ESPERANZA ASMET  SALUD").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL LA ESPERANZA ASMET  SALUD").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL LA ESPERANZA ASMET  SALUD").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>ASOCIACIÓN MUTUAL LA ESPERANZA ASMET  SALUD </td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>769</td>
          <td><%= (100* total_subsidiado/769.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>769</td>
          <td><%= (100* total/769.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "ASOCIACIÓN MUTUAL SER EMPRESA SOLIDARIA DE SALUD ESS").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL SER EMPRESA SOLIDARIA DE SALUD ESS").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ASOCIACIÓN MUTUAL SER EMPRESA SOLIDARIA DE SALUD ESS").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>ASOCIACIÓN MUTUAL SER EMPRESA SOLIDARIA DE SALUD ESS</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>431</td>
          <td><%= (100* total_subsidiado/431.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>431</td>
          <td><%= (100* total/431.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR  DE CARTAGENA COMFAMILIAR CARTAGENA").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR  DE CARTAGENA COMFAMILIAR CARTAGENA").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR  DE CARTAGENA COMFAMILIAR CARTAGENA").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACIÓN FAMILIAR  DE CARTAGENA COMFAMILIAR CARTAGENA</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>426</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>426</td>
          <td><%= (100* total/426.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR C.C.F. DEL ORIENTE COLOMBIANO COMFAORIENTE").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR C.C.F. DEL ORIENTE COLOMBIANO COMFAORIENTE").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR C.C.F. DEL ORIENTE COLOMBIANO COMFAORIENTE").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACIÓN FAMILIAR C.C.F. DEL ORIENTE COLOMBIANO COMFAORIENTE</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>424</td>
          <td><%= (100* total_subsidiado/424.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>424</td>
          <td><%= (100* total/424.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACION FAMILIAR DE CORDOBA  COMFACOR").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACION FAMILIAR DE CORDOBA  COMFACOR").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACION FAMILIAR DE CORDOBA  COMFACOR").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACION FAMILIAR DE CORDOBA  COMFACOR</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>431</td>
          <td><%= (100* total_subsidiado/431.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>431</td>
          <td><%= (100* total/431.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE CUNDINAMARCA COMFACUNDI").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE CUNDINAMARCA COMFACUNDI").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE CUNDINAMARCA COMFACUNDI").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACIÓN FAMILIAR DE CUNDINAMARCA COMFACUNDI</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>426</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>426</td>
          <td><%= (100* total/426.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE LA GUAJIRA").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE LA GUAJIRA").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE LA GUAJIRA").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACIÓN FAMILIAR DE LA GUAJIRA</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>425</td>
          <td><%= (100* total_subsidiado/425.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>425</td>
          <td><%= (100* total/425.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE NARIÑO COMFAMILIAR NARIÑO").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE NARIÑO COMFAMILIAR NARIÑO").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE NARIÑO COMFAMILIAR NARIÑO").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACIÓN FAMILIAR DE LA GUAJIRA</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>426</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>426</td>
          <td><%= (100* total/426.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE SUCRE").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE SUCRE").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DE SUCRE").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACIÓN FAMILIAR DE SUCRE</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>424</td>
          <td><%= (100* total_subsidiado/424.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>424</td>
          <td><%= (100* total/424.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DEL CHOCÓ COMFACHOCO").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DEL CHOCÓ COMFACHOCO").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DEL CHOCÓ COMFACHOCO").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACIÓN FAMILIAR DEL CHOCÓ COMFACHOCO</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>425</td>
          <td><%= (100* total_subsidiado/425.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>425</td>
          <td><%= (100* total/425.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DEL HUILA COMFAMILIAR").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DEL HUILA COMFAMILIAR").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE COMPENSACIÓN FAMILIAR DEL HUILA COMFAMILIAR").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE COMPENSACIÓN FAMILIAR DEL HUILA COMFAMILIAR</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>429</td>
          <td><%= (100* total_subsidiado/429.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>429</td>
          <td><%= (100* total/429.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "CAJA DE DE COMPENSACION FAMILIAR CAJACOPI ATLANTICO").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAJA DE DE COMPENSACION FAMILIAR CAJACOPI ATLANTICO").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAJA DE DE COMPENSACION FAMILIAR CAJACOPI ATLANTICO").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAJA DE DE COMPENSACION FAMILIAR  CAJACOPI ATLANTICO</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>433</td>
          <td><%= (100* total_subsidiado/433.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>433</td>
          <td><%= (100* total/433.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "CAPITAL SALUD").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAPITAL SALUD").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAPITAL SALUD").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CAPITAL SALUD</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>430</td>
          <td><%= (100* total_subsidiado/430.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "CAPRESOCA EPS").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CAPRESOCA EPS").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CAPRESOCA EPS").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>  
          <td>CAPRESOCA  EPS</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>426</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>426</td>
          <td><%= (100* total/426.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "COMFENALCO  VALLE  E.P.S.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "COMFENALCO  VALLE  E.P.S.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "COMFENALCO  VALLE  E.P.S.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>COMFENALCO  VALLE  E.P.S.</td>
          <td><%= total_contribitivo %></td>
          <td>427</td>
          <td><%= (100* total_contribitivo/427.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>427</td>
          <td><%= (100* total/427.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "COMPENSAR   E.P.S.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "COMPENSAR   E.P.S.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "COMPENSAR   E.P.S.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>COMPENSAR   E.P.S.</td>
          <td><%= total_contribitivo %></td>
          <td>430</td>
          <td><%= (100* total_contribitivo/430.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "COOMEVA E.P.S. S.A.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "COOMEVA E.P.S. S.A.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "COOMEVA E.P.S. S.A.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>COOMEVA   E.P.S.  S.A.</td>
          <td><%= total_contribitivo %></td>
          <td>426</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>487</td>
          <td><%= (100* total/487.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "COOPERATIVA DE SALUD COMUNITARIA-COMPARTA").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "COOPERATIVA DE SALUD COMUNITARIA-COMPARTA").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "COOPERATIVA DE SALUD COMUNITARIA-COMPARTA").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>COOPERATIVA DE SALUD COMUNITARIA-COMPARTA</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>605</td>
          <td><%= (100* total_subsidiado/605.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>605</td>
          <td><%= (100* total/605.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "COOPERATIVA DE SALUD Y DESARROLLO INTEGRAL ZONA SUR ORIENTAL DE CARTAGENA LTDA. COOSALUD E.S.S.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "COOPERATIVA DE SALUD Y DESARROLLO INTEGRAL ZONA SUR ORIENTAL DE CARTAGENA LTDA. COOSALUD E.S.S.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "COOPERATIVA DE SALUD Y DESARROLLO INTEGRAL ZONA SUR ORIENTAL DE CARTAGENA LTDA. COOSALUD E.S.S.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>COOPERATIVA DE SALUD Y DESARROLLO INTEGRAL ZONA SUR ORIENTAL DE CARTAGENA LTDA. COOSALUD E.S.S.</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>795</td>
          <td><%= (100* total_subsidiado/795.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>795</td>
          <td><%= (100* total/795.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "CRUZ BLANCA  EPS S.A.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "CRUZ BLANCA  EPS S.A.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "CRUZ BLANCA  EPS S.A.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>CRUZ BLANCA  EPS S.A.</td>
          <td><%= total_contribitivo %></td>
          <td>430</td>
          <td><%= (100* total_contribitivo/430.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "E.P.S.  FAMISANAR  LTDA.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "E.P.S.  FAMISANAR  LTDA.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "E.P.S.  FAMISANAR  LTDA.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>E.P.S.  FAMISANAR  LTDA.</td>
          <td><%= total_contribitivo %></td>
          <td>435</td>
          <td><%= (100* total_contribitivo/435.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>435</td>
          <td><%= (100* total/435.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "E.P.S. SANITAS S.A.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "E.P.S. SANITAS S.A.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "E.P.S. SANITAS S.A.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>E.P.S.  SANITAS  S.A.</td>
          <td><%= total_contribitivo %></td>
          <td>663</td>
          <td><%= (100* total_contribitivo/663.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>663</td>
          <td><%= (100* total/663.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "EMPRESA MUTUAL PARA EL DESARROLLO INTEGRAL  DE LA SALUD E.S.S. EMDISALUD ESS").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "EMPRESA MUTUAL PARA EL DESARROLLO INTEGRAL  DE LA SALUD E.S.S. EMDISALUD ESS").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "EMPRESA MUTUAL PARA EL DESARROLLO INTEGRAL  DE LA SALUD E.S.S. EMDISALUD ESS").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>EMPRESA MUTUAL PARA EL DESARROLLO INTEGRAL  DE LA SALUD E.S.S.</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>432</td>
          <td><%= (100* total_subsidiado/432.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>432</td>
          <td><%= (100* total/432.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "ENTIDAD COOPERATIVA SOL.DE SALUD DEL NORTE DE SOACHA ECOOPSOS").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "ENTIDAD COOPERATIVA SOL.DE SALUD DEL NORTE DE SOACHA ECOOPSOS").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "ENTIDAD COOPERATIVA SOL.DE SALUD DEL NORTE DE SOACHA ECOOPSOS").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>ENTIDAD COOPERATIVA SOL.DE SALUD DEL NORTE DE SOACHA ECOOPSOS</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>430</td>
          <td><%= (100* total_subsidiado/430.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>430</td>
          <td><%= (100* total/430.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "EPS  CONVIDA").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "EPS  CONVIDA").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "EPS  CONVIDA").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>EPS  CONVIDA</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>428</td>
          <td><%= (100* total_subsidiado/428.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>428</td>
          <td><%= (100* total/428.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "EPS SERVICIO OCCIDENTAL DE SALUD  S.A. - EPS S.O.S. S.A.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "EPS SERVICIO OCCIDENTAL DE SALUD  S.A. - EPS S.O.S. S.A.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "EPS SERVICIO OCCIDENTAL DE SALUD  S.A. - EPS S.O.S. S.A.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>EPS SERVICIO OCCIDENTAL DE SALUD  S.A. - EPS S.O.S. S.A.</td>
          <td><%= total_contribitivo %></td>
          <td>453</td>
          <td><%= (100* total_contribitivo/453.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>453</td>
          <td><%= (100* total/453.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "EPS Y MEDICINA PREPAGADA SURAMERICANA S.A").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "EPS Y MEDICINA PREPAGADA SURAMERICANA S.A").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "EPS Y MEDICINA PREPAGADA SURAMERICANA S.A").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>EPS Y MEDICINA PREPAGADA SURAMERICANA S.A</td>
          <td><%= total_contribitivo %></td>
          <td>464</td>
          <td><%= (100* total_contribitivo/464.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>464</td>
          <td><%= (100* total/464.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "MALLAMAS").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "MALLAMAS").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "MALLAMAS").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>MALLAMAS</td>
          <td><%= total_contribitivo %></td>
          <td>0</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>914</td>
          <td><%= (100* total_subsidiado/914.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>914</td>
          <td><%= (100* total/914.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "MEDIMAS").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "MEDIMAS").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "MEDIMAS").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>MEDIMAS</td>
          <td><%= total_contribitivo %></td>
          <td>797</td>
          <td><%= (100* total_contribitivo/797.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>403</td>
          <td><%= (100* total_subsidiado/403.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>1200</td>
          <td><%= (100* total/1200.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "NUEVA EPS S.A.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "NUEVA EPS S.A.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "NUEVA EPS S.A.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>NUEVA EPS S.A.</td>
          <td><%= total_contribitivo %></td>
          <td>1.639</td>
          <td><%= (100* total_contribitivo/1639.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>627</td>
          <td><%= (100* total_subsidiado/672.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>2266</td>
          <td><%= (100* total/2266.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "PIJAOS SALUD EPSI").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "PIJAOS SALUD EPSI").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "PIJAOS SALUD EPSI").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>PIJAOS SALUD EPSI</td>
          <td><%= total_contribitivo %></td>
          <td>426</td>
          <td><%= (100* total_contribitivo/426.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>426</td>
          <td><%= (100* total/426.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "SALUD  TOTAL  S.A.  E.P.S.").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "SALUD  TOTAL  S.A.  E.P.S.").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "SALUD  TOTAL  S.A.  E.P.S.").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>SALUD  TOTAL  S.A.  E.P.S.</td>
          <td><%= total_contribitivo %></td>
          <td>469</td>
          <td><%= (100* total_contribitivo/469.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>469</td>
          <td><%= (100* total/469.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(pregunta1: "SALUDVIDA S.A .E.P.S").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "SALUDVIDA S.A .E.P.S").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "SALUDVIDA S.A .E.P.S").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>SALUDVIDA S.A .E.P.S</td>
          <td><%= total_contribitivo %></td>
          <td>496</td>
          <td><%= (100* total_contribitivo/496.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>496</td>
          <td><%= (100* total/496.to_f).round(2) %></td>
        </tr>
        <% total = Encuestum.where(municipio: "SAVIA SALUD EPS").count(:id) %>
        <% total_contribitivo = Encuestum.where(municipio: "SAVIA SALUD EPS").where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id) %>
        <% total_subsidiado = Encuestum.where(municipio: "SAVIA SALUD EPS").where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id) %>
        <tr>
          <td>SAVIA SALUD EPS</td>
          <td><%= total_contribitivo %></td>
          <td>429</td>
          <td><%= (100* total_contribitivo/429.to_f).round(2) %></td>
          <td><%= total_subsidiado %></td>
          <td>0</td>
          <td><%= (100* total_subsidiado/426.to_f).round(2) %></td>
          <td><%= total %></td>
          <td>429</td>
          <td><%= (100* total/429.to_f).round(2) %></td>
        </tr>
        <thead>
          <tr>            
            <th scope="col"> <strong> Total </strong></td>
            <th scope="col"> <strong> <%= Encuestum.where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id)%> </strong></td>  
            <th scope="col"> <strong> 21.753 </strong></td>
            <th scope="col"> <strong><%= (100* Encuestum.where(pregunta3: "Cotizante en el régimen contributivo").where(pregunta3:"Beneficiario en el régimen contributivo").count(:id)/21753.to_f).round(2) %></strong></td> 
            <th scope="col"> <strong> <%= Encuestum.where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id)%> </strong></td> 
            <th scope="col"> <strong> 21.753 </strong></td>
            <th scope="col"> <strong><%= (100* Encuestum.where(pregunta3:"Afiliado al régimen subsidiado (SISBEN)").count(:id)/21753.to_f).round(2) %></strong></td>
            <th scope="col"> <strong><%= Encuestum.count(:id) %></strong></td>  
            <th scope="col"> <strong> 21.753 </strong></td>
            <th scope="col"> <strong><%= (100* Encuestum.count(:id)/21753.to_f).round(2) %></strong></td>
          </tr>
        </thead>
      </tbody>  
    </table> 
  </div>    
</div>  