<header>  
  <div class="row">
    <div class="col-md-4">
      <img src="<%= asset_path 'bioestadistica.png' %>">
    </div>
    <div class="col-md-4">
      <img src="<%= asset_path 'logo_min_salud.png' %>">
    </div>
    <div class="col-md-4">
      <img src="<%= asset_path 'gss2.png' %>">
    </div>
  </div>
</header>
<div class="container">
  <h2 class="text-center">Estadisticas del estudio de evaluación de los servicios de las EPS por parte de los usuarios, en el régimen contributivo y subsidiado.</h2>
    <div class="alert alert-danger" role="alert">
    Los datos que se muestran, corresponden a la última actualización de la base de datos, puede que existan datos pendientes de actualizar.
    </div>
  <br>
  <div id="Departamentos">
  	<label> <strong> L1. Departamentos </strong> </label>
  	<%= column_chart Encuestum.group(:departamento).count(:id), download: true%>
  </div>
  <div id="Municipio">
  	<label> <strong> L2. Municipio </strong> </label>
  	<%= column_chart Encuestum.group(:municipio).count(:id) %>
  </div>
  <div id="Sexo">
  	<label> <strong> L8. Sexo </strong> </label>
  	<%= pie_chart Encuestum.group(:sexo).count(:id) %>
  </div>
  <div id="Pregunta1">
  	<label> <strong> 1. ¿A qué EPS se encuentra afiliado actualmente?  </strong> </label>
  	<%= bar_chart Encuestum.group(:pregunta1).count(:id) %>
  </div>
  <div id="Pregunta1A">
  	<label> <strong> 1A. ¿Cuánto tiempo lleva afiliado a esta EPS:  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta1A).count(:id) %>
  </div>
  <div id="Pregunta2">
  	<label> <strong> 2. Cuando recibió el último servicio de salud, ¿Estaba usted afiliado a esta misma EPS?  </strong> </label>
  	<%= pie_chart Encuestum.group(:pregunta2).count(:id) %>
  </div>
  <div id="Pregunta2A">
  	<label> <strong> 2A. En que EPS estaba afiliado  </strong> </label>
  	<%= bar_chart Encuestum.group(:pregunta2A).count(:id) %>
  </div>
  <div id="Pregunta2B">
  	<label> <strong> 2B. Régimen  </strong> </label>
  	<%= pie_chart Encuestum.group(:pregunta2B).count(:id) %>
  </div>
  <div id="Pregunta3">
  	<label> <strong> 3. Qué tipo de afiliado es usted en la EPS?  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta3).count(:id) %>
  </div>
  <div id="Pregunta4">
  	<label> <strong> 4. La última vez que se afilió a la seguridad social ¿Usted escogió libremente su EPS?  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta4).count(:id) %>
  </div>
  <div id="Pregunta5">
  	<label> <strong> 5. ¿Cuál o cuáles fueron los motivos por los cuales se afilió a su EPS actual?  </strong> </label>
  	<%= bar_chart Encuestum.group(:pregunta5).count(:id) %>
  </div>  
  <div id="Pregunta6">
  	<label> <strong> 6. En general, ¿Cómo califica su estado de salud?  </strong> </label>
  	<%= bar_chart Encuestum.group(:pregunta6).count(:id) %>
  </div>
<h3>7. Evalúe con qué frecuencia realiza usted cada acción que le voy a mencionar: </h3>
  <div id="Pregunta7A">
  	<label> <strong> 7. A. Preguntar por el costo de los servicios que recibió  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7A).count(:id) %>
  </div>
  <div id="Pregunta7B">
  	<label> <strong> 7. B. Cotizar de conformidad con sus ingresos  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7B).count(:id) %>
  </div> 
  <div id="Pregunta7C">
  	<label> <strong> 7. C. Cancelar con anticipación las citas solicitadas cuando no puede asistir </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7C).count(:id) %>
  </div> 
  <div id="Pregunta7D">
  	<label> <strong> 7. D. Reportar a su EPS alguna novedad, (Como por ejemplo la actualización de datos personales, reportar el fallecimiento de algún miembro del núcleo familiar - entre otras.) </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7D).count(:id) %>
  </div>     
  <div id="Pregunta7E">
  	<label> <strong> 7. E. Suministrar información veraz sobre sus síntomas y condición de salud para facilitar el diagnóstico  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7E).count(:id) %>
  </div>  
  <div id="Pregunta7F">
  	<label> <strong> 7. F. Tomar medicamentos sin prescripción médica  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7F).count(:id) %>
  </div>  
  <div id="Pregunta7G">
  	<label> <strong> 7. G. Seguir las recomendaciones dadas por el personal de salud  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7G).count(:id) %>
  </div>  
  <div id="Pregunta7H">
  	<label> <strong> 7. H. Solicitar aclaración al personal de salud cuando tiene dudas sobre tratamientos, indicaciones, cuidados, fórmulas médicas, etc. </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7H).count(:id) %>
  </div>  
  <div id="Pregunta7I">
  	<label> <strong> 7. I. Llegar puntualmente a las citas programadas  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7I).count(:id) %>
  </div>  
  <div id="Pregunta7J">
  	<label> <strong> 7. J. Cumplir a cabalidad con el tratamiento médico ordenado  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7J).count(:id) %>
  </div>  
  <div id="Pregunta7K">
  	<label> <strong> 7. K. Hacer ejercicio y/o alimentación balanceada </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7K).count(:id) %>
  </div>  
  <div id="Pregunta7L">
  	<label> <strong> 7. L. Asistir a los controles médicos periódicos siguiendo las recomendaciones de su médico  </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7L).count(:id) %>
  </div>  
  <div id="Pregunta7M">
  	<label> <strong> 7. M. Asistir a los programas de promoción de la salud y prevención de la enfermedad </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7M).count(:id) %>
  </div>  
  <div id="Pregunta7N">
  	<label> <strong> 7. N. Atender a las recomendaciones recibidas en los programas de promoción de la salud y prevención de la enfermedad </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta7N).count(:id) %>
  </div>  
<h3>8. Pensando en la EPS ideal, ordene las siguientes características de acuerdo al grado de importancia que tiene para usted cada una; donde 1 es la más importante y 7 la menos importante</h3>  
  <div id="Pregunta8A">
  	<label> <strong> 8. A. El trato amable del personal administrativo: Oficinas de autorización, oficinas de atención al cliente, etc. </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta8A).count(:id) %>
  </div>  
  <div id="Pregunta8B">
  	<label> <strong> 8. B. El trato amable del personal asistencial: médicos, enfermeras, terapeutas, etc. </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta8B).count(:id) %>
  </div>  
  <div id="Pregunta8C">
  	<label> <strong> 8. C. Instalaciones físicas de la EPS: comodidad, completo, agradable </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta8C).count(:id) %>
  </div>     
  <div id="Pregunta8D">
  	<label> <strong> 8. D. Su cercanía a hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta8D).count(:id) %>
  </div> 
  <div id="Pregunta8E">
  	<label> <strong> 8. E. Tiempos de espera para la atención </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta8E).count(:id) %>
  </div> 
  <div id="Pregunta8F">
  	<label> <strong> 8. F. Simplicidad y agilidad en los trámites </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta8F).count(:id) %>
  </div> 
  <div id="Pregunta8G">
  	<label> <strong> 8. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta8G).count(:id) %>
  </div> 
 <h3>9. Pensando en su EPS, Qué tan satisfecho(a) esta usted frente a los siguientes servicios recibidos de su EPS durante los ÚLTIMOS 6 MESES</h3>
  <div id="Pregunta9A">
  	<label> <strong> 9. A. El trato amable del personal administrativo: Oficinas de autorización, oficinas de atención al cliente, etc. </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9A).count(:id) %>
  </div>  
  <div id="Pregunta9B">
  	<label> <strong> 9. B. El trato amable del personal asistencial: médicos, enfermeras, terapeutas, etc. </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9B).count(:id) %>
  </div>  
  <div id="Pregunta9C">
  	<label> <strong> 9. C. Instalaciones físicas de la EPS: comodidad, completo, agradable </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9C).count(:id) %>
  </div>     
  <div id="Pregunta9D">
  	<label> <strong> 9. D. Su cercanía a hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9D).count(:id) %>
  </div> 
  <div id="Pregunta9E">
  	<label> <strong> 9. E. Tiempos de espera para la atención </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9E).count(:id) %>
  </div> 
  <div id="Pregunta9F">
  	<label> <strong> 9. F. Simplicidad y agilidad en los trámites </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9F).count(:id) %>
  </div> 
  <div id="Pregunta9G">
  	<label> <strong> 9. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9G).count(:id) %>
  </div>
<h3>En los últimos 6 meses ¿Cuáles de los siguientes servicios de salud ha utilizado usted a través de su EPS?</h3>
	<div id="Pregunta9G">
  	<label> <strong> 9. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9G).count(:id) %>
  </div>
  <div id="Pregunta9G">
  	<label> <strong> 9. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9G).count(:id) %>
  </div>
  <div id="Pregunta9G">
  	<label> <strong> 9. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9G).count(:id) %>
  </div>
  <div id="Pregunta9G">
  	<label> <strong> 9. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9G).count(:id) %>
  </div>
  <div id="Pregunta9G">
  	<label> <strong> 9. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9G).count(:id) %>
  </div>
  <div id="Pregunta9G">
  	<label> <strong> 9. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9G).count(:id) %>
  </div>
  <div id="Pregunta9G">
  	<label> <strong> 9. G. Cantidad de  hospitales y puestos de salud </strong> </label>
  	<%= column_chart Encuestum.group(:pregunta9G).count(:id) %>
  </div>
<h3>10. En los últimos 6 meses ¿Cuáles de los siguientes servicios de salud ha utilizado usted a través de su EPS?</h3>
 <div id="Pregunta10A">
    <label> <strong> 10. A. Consulta de medicina general </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_a).count(:id) %>
  </div>
  <div id="Pregunta10B1">
    <label> <strong> 10. B1. Consulta de Obstetricia - control embarazo </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_b1).count(:id) %>
  </div>
  <div id="Pregunta10B2">
    <label> <strong> 10. B2. Consulta de ginecología: citologías, y otros relacionados sin incluir embarazo </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_b2).count(:id) %>
  </div>
  <div id="Pregunta10B3">
    <label> <strong> 10. B3. Consulta de medicina interna: internista </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_b3).count(:id) %>
  </div>  
  <div id="Pregunta10B4">
    <label> <strong> 10. B4. Consulta de pediatría </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_b4).count(:id) %>
  </div>
  <div id="Pregunta10B5">
    <label> <strong> 10. B5. Cirugía general </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_b5).count(:id) %>
  </div>
  <div id="Pregunta10B6">
    <label> <strong> 10. B6. Otras consultas de medicina especializada: cardiología, neurología y ortopedia </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_b6).count(:id) %>
  </div> 
  <div id="Pregunta10C">
    <label> <strong> 10. C. Citas prioritarias cita no programada </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_c).count(:id) %>
  </div> 
  <div id="Pregunta10D">
    <label> <strong> 10. D. Urgencias </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_d).count(:id) %>
  </div> 
  <div id="Pregunta10E">
    <label> <strong> 10. E. Hospitalización </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_e).count(:id) %>
  </div> 
  <div id="Pregunta10F">
    <label> <strong> 10. F. Domiciliario: médicos, cuidados </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_f).count(:id) %>
  </div> 
  <div id="Pregunta10G">
    <label> <strong> 10. G. Entrega de medicamentos </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_g).count(:id) %>
  </div> 
  <div id="Pregunta10H">
    <label> <strong> 10. H. Tratamientos asistidos: quimioterapia-radioterapias-diálisis </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_h).count(:id) %>
  </div> 
  <div id="Pregunta10I">
    <label> <strong> 10. I. Programas de promoción de la salud y prevención de la enfermedad (PyP) </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_i).count(:id) %>
  </div> 
  <div id="Pregunta10J">
    <label> <strong> 10. J. Odontología </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_j).count(:id) %>
  </div> 
  <div id="Pregunta10K">
    <label> <strong> 10. K. Exámenes de laboratorio </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_k).count(:id) %>
  </div> 
  <div id="Pregunta10L">
    <label> <strong> 10. L. Radiografías, imágenes o pruebas de diagnóstico </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_l).count(:id) %>
  </div> 
  <div id="Pregunta10M">
    <label> <strong> 10. M. Terapias en la EPS: físicas, respiratorias, ocupacional, de lenguaje </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_m).count(:id) %>
  </div>     
  <div id="Pregunta10N">
    <label> <strong> 10. N. Suministro de oxígeno  </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta10_n).count(:id) %>
  </div>   
<h3>11. Utilizando una escala de 1 a 5, 1 corresponde a un muy mal servicio y donde 5 indica un muy buen servicio. ¿Cómo califica el servicio de____ recibido en los últimos 6 meses? </h3>
 <div id="Pregunta11A">
    <label> <strong> 11. A. Consulta de medicina general </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_a).count(:id) %>
  </div>
  <div id="Pregunta11B1">
    <label> <strong> 11. B1. Consulta de Obstetricia - control embarazo </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_b1).count(:id) %>
  </div>
  <div id="Pregunta11B2">
    <label> <strong> 11. B2. Consulta de ginecología: citologías, y otros relacionados sin incluir embarazo </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_b2).count(:id) %>
  </div>
  <div id="Pregunta11B3">
    <label> <strong> 11. B3. Consulta de medicina interna: internista </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_b3).count(:id) %>
  </div>  
  <div id="Pregunta11B4">
    <label> <strong> 11. B4. Consulta de pediatría </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_b4).count(:id) %>
  </div>
  <div id="Pregunta11B5">
    <label> <strong> 11. B5. Cirugía general </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_b5).count(:id) %>
  </div>
  <div id="Pregunta11B6">
    <label> <strong> 11. B6. Otras consultas de medicina especializada: cardiología, neurología y ortopedia </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_b6).count(:id) %>
  </div> 
  <div id="Pregunta11C">
    <label> <strong> 11. C. Citas prioritarias cita no programada </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_c).count(:id) %>
  </div> 
  <div id="Pregunta11D">
    <label> <strong> 11. D. Urgencias </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_d).count(:id) %>
  </div> 
  <div id="Pregunta11E">
    <label> <strong> 11. E. Hospitalización </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_e).count(:id) %>
  </div> 
  <div id="Pregunta11F">
    <label> <strong> 11. F. Domiciliario: médicos, cuidados </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_f).count(:id) %>
  </div> 
  <div id="Pregunta11G">
    <label> <strong> 11. G. Entrega de medicamentos </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_g).count(:id) %>
  </div> 
  <div id="Pregunta11H">
    <label> <strong> 11. H. Tratamientos asistidos: quimioterapia-radioterapias-diálisis </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_h).count(:id) %>
  </div> 
  <div id="Pregunta11I">
    <label> <strong> 11. I. Programas de promoción de la salud y prevención de la enfermedad (PyP) </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_i).count(:id) %>
  </div> 
  <div id="Pregunta11J">
    <label> <strong> 11. J. Odontología </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_j).count(:id) %>
  </div> 
  <div id="Pregunta11K">
    <label> <strong> 11. K. Exámenes de laboratorio </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_k).count(:id) %>
  </div> 
  <div id="Pregunta11L">
    <label> <strong> 11. L. Radiografías, imágenes o pruebas de diagnóstico </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_l).count(:id) %>
  </div> 
  <div id="Pregunta11M">
    <label> <strong> 11. M. Terapias en la EPS: físicas, respiratorias, ocupacional, de lenguaje </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_m).count(:id) %>
  </div>     
  <div id="Pregunta11N">
    <label> <strong> 11. N. Suministro de oxígeno  </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta11_n).count(:id) %>
  </div> 
<h3>13. ¿De acuerdo a las opciones de esta tarjeta, como le pareció el tiempo de espera para ser atendido en el servicio de ______? </h3>
 <div id="Pregunta13A">
    <label> <strong> 13. A. Consulta de medicina general </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_a).count(:id) %>
  </div>
  <div id="Pregunta13B1">
    <label> <strong> 13. B1. Consulta de Obstetricia - control embarazo </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_b1).count(:id) %>
  </div>
  <div id="Pregunta13B2">
    <label> <strong> 13. B2. Consulta de ginecología: citologías, y otros relacionados sin incluir embarazo </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_b2).count(:id) %>
  </div>
  <div id="Pregunta13B3">
    <label> <strong> 13. B3. Consulta de medicina interna: internista </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_b3).count(:id) %>
  </div>  
  <div id="Pregunta13B4">
    <label> <strong> 13. B4. Consulta de pediatría </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_b4).count(:id) %>
  </div>
  <div id="Pregunta13B5">
    <label> <strong> 13. B5. Cirugía general </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_b5).count(:id) %>
  </div>
  <div id="Pregunta13B6">
    <label> <strong> 13. B6. Otras consultas de medicina especializada: cardiología, neurología y ortopedia </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_b6).count(:id) %>
  </div> 
  <div id="Pregunta13C">
    <label> <strong> 13. C. Citas prioritarias cita no programada </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_c).count(:id) %>
  </div> 
  <div id="Pregunta13D">
    <label> <strong> 13. D. Urgencias </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_d).count(:id) %>
  </div> 
  <div id="Pregunta13E">
    <label> <strong> 13. E. Hospitalización </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_e).count(:id) %>
  </div> 
  <div id="Pregunta13F">
    <label> <strong> 13. F. Domiciliario: médicos, cuidados </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_f).count(:id) %>
  </div> 
  <div id="Pregunta13G">
    <label> <strong> 13. G. Entrega de medicamentos </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_g).count(:id) %>
  </div> 
  <div id="Pregunta13H">
    <label> <strong> 13. H. Tratamientos asistidos: quimioterapia-radioterapias-diálisis </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_h).count(:id) %>
  </div> 
  <div id="Pregunta13I">
    <label> <strong> 13. I. Programas de promoción de la salud y prevención de la enfermedad (PyP) </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_i).count(:id) %>
  </div> 
  <div id="Pregunta13J">
    <label> <strong> 13. J. Odontología </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_j).count(:id) %>
  </div> 
  <div id="Pregunta13K">
    <label> <strong> 13. K. Exámenes de laboratorio </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_k).count(:id) %>
  </div> 
  <div id="Pregunta13L">
    <label> <strong> 13. L. Radiografías, imágenes o pruebas de diagnóstico </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_l).count(:id) %>
  </div> 
  <div id="Pregunta13M">
    <label> <strong> 13. M. Terapias en la EPS: físicas, respiratorias, ocupacional, de lenguaje </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_m).count(:id) %>
  </div>     
  <div id="Pregunta13N">
    <label> <strong> 13. N. Suministro de oxígeno  </strong> </label>
    <%= column_chart Encuestum.group(:pregunta13_n).count(:id) %>
  </div>   
  <div id="Pregunta14">
    <label> <strong> 14. Usted me indica que en los últimos seis meses fue usuario del servicio de urgencias  </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta14).count(:id) %>
  </div>  
  <div id="Pregunta14a">
    <label> <strong> 14.1. ¿Por cuales de las siguientes razones usó en los últimos seis meses el servicio de urgencias? Por favor, si usted utilizó varias veces el servicio de urgencias en los últimos seis meses, refiérase solo a la última vez que lo utilizó.  </strong> </label>
    <%= bar_chart Encuestum.group(:pregunta14_1).count(:id) %>
  </div>  
  <div id="Pregunta15A">
    <label> <strong> 15. a. Anteriormente me indicó que en los últimos seis meses solicitó y/o le entregaron medicamentos  </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta15_a).count(:id) %>
  </div>     
  <div id="Pregunta15B">
    <label> <strong> 15. B. ¿Le entregaron todos los medicamentos la primera vez que los solicitó ?  </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta15_b).count(:id) %>
  </div>  
  <div id="Pregunta15C">
    <label> <strong> 15. C. ¿Le ofrecieron la posibilidad de entregarle los medicamentos faltantes a domicilio?   </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta15_c).count(:id) %>
  </div>  
  <div id="Pregunta15D">
    <label> <strong> 15. D. ¿Aceptó usted esa opción de entrega?  </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta15_d).count(:id) %>
  </div>  
  <div id="Pregunta15E">
    <label> <strong> 15. E. ¿Le llegaron los medicamentos faltantes al domicilio?  </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta15_e).count(:id) %>
  </div>  
  <div id="Pregunta15AA">
    <label> <strong> 15. A. Finalmente, ¿Comó obtuvo los medicamentos ?  </strong> </label>
    <%= column_chart Encuestum.group(:pregunta15_A).count(:id) %>
  </div>  
  <div id="Pregunta16">
    <label> <strong> 16. En los últimos 6 meses, cuando usted solicitó que le prestaran un servicio de salud, ¿Fue informado que no había agenda?   </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta16).count(:id) %>
  </div>   
  <div id="Pregunta17">
    <label> <strong> 17. En los últimos 6 meses, ¿su EPS le ha negado algún servicio? </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta17).count(:id) %>
  </div>  
  <div id="Pregunta17A">
    <label> <strong> 17. A. ¿Por qué motivo? </strong> </label>
    <%= pie_chart Encuestum.group(:pregunta17A).count(:id) %>
  </div>      

</div>
